
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root{
    --primary-color:hsla(0, 0%, 48%, 0.1);
    --second-color: hsl(176, 50%, 47%);
    --third-color:#fff;

}
body{
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    font-family: 'Commissioner', sans-serif;
    Font-size: 16px;
    width: 100%;
    display: grid;

}
header{
    background-image: url('../images/image-hero-desktop.jpg');
    height: 350px;

    nav{
        display: grid;
        grid-template-columns: 3fr 1fr;

        img{
            margin-top: 20px;
            margin-left: 100px;
        }

        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin-right: 30px;

            a{
                text-decoration: none;
                color: var(--third-color);
            }
        }
    }
}
main{
    margin: 0 350px;
    margin-top: -50px;
    text-align: center;
    display: grid;
    gap: 10px;
    position: relative;

    img{
        height: 35px;
        width: 35px;
    }

    .first-section{
        background-color: var(--third-color);
        .logo-mastercraft{
            margin-top: -30px;

        }

        .back-bookmark{
            display: flex;
            justify-content: space-between;
            margin: 0 20px;

            .left{
                p{
                padding: 5px 10px;
                border-radius: 50px;
                background-color:var(--second-color);
                color: var(--third-color);
                cursor: pointer;
                }
            }
            .right{
                display: flex;
                p{
                    border: 1px var(--third-color);
                    padding: 5px 10px;
                    border-radius: 50px;
                    background-color:var(--primary-color);
                    cursor: pointer;
                    }
            }
        }
    }

    .second-section{

        background-color: var(--third-color);
        display: grid;

        .upper-content{
            display: flex;
            justify-content: space-between;
            margin: 0 20px;

            .vl{
                border: 1px solid var(--primary-color);
                height: 50%;
                margin-top: 20px;
            }
            #last-item{
                margin-right: 100px;
            }
            
        }
        .lower-content{
            background-color: var(--primary-color);
            margin: 0 20px;
            margin-bottom: 20px;
            height: 5px;
            position: relative;
            hr{
                height: 5px;
                background-color: var(--second-color);
                border-radius: 70px;
                margin-right: 130px;
               position: absolute;
               width: 70%;
               bottom: -10px;

                
            }
        }

    }

    .third-section{
        background: var(--third-color);

        .third-section-cta{
            margin: 0 20px;
            text-align: left;

            .container{
                border: 1px var(--primary-color) solid;
                margin-bottom: 10px;

                .content{
                    margin: 10px 20px;

                    .upper-content{
                        display: flex;
                        justify-content: space-between;

                        .right-content{
                            color: var(--second-color);
                        }
                    }

                    .lower-content{
                        display: flex;
                        justify-content: space-between;

                        .left-content{
                            span{
                                font-weight: lighter;
                                font-size: 12px;
                            }
                        }

                        .right-content{
                           p{
                            background: var(--second-color);
                            border-radius: 50px;
                            padding: 5px 10px;
                            color: var(--third-color);
                            cursor: pointer;
                           }
                        }
                    }
                }
            }
        }

    }

    // <!-- Selection modal start -->
    .selection-modal{
        background: var(--third-color);
        display: grid;
        text-align: left;
        position: absolute;
        top: -120px;
        display: none;

        

        img{
            justify-self: end;
            height: 15px;
            width: 15px;
            margin:10px;
            cursor: pointer;
        }

        .selection-modal-cta{
            margin: 0 20px;
            
            .Pledge-with-no-reward{
                border: 1px solid var(--primary-color);
                margin-bottom: 10px;
                .pledge-with-no-reward-cta{

                    margin: 10px 20px;
                    p{
                        margin-left: 20px;
                    }
                }
            }

                

            .Pledge-with-reward{
                border: 1px solid var(--primary-color);
                margin-bottom: 10px;

                .content{
                    margin: 0 20px;
                    .upper-content{
                        display: flex;
                        justify-content: space-between;
                      

                        span{
                            color: var(--second-color);
                            margin-left: 10px;
                        }

                        input{
                            margin-top: 20px;
                        }
                        h3{
                            span{
                                color: black;
                                font-weight: lighter;
                                font-size: 12px;
                                margin-left: 0px;
                            }
                        }
                    }

                    .lower-selected-pledge{
                        hr{

                            margin: 0 -20px
                        }
                        .container{
                            display: flex;
                            justify-content: space-between;

                            .right{
                                display: flex;

                                #dollar{
                                    border: 1px var(--primary-color) solid;
                                    border-radius: 50px;
                                    padding: 5px 10px;
                                    margin-right: 10px;
                                }

                                #continue{
                                    background: var(--second-color);
                                    border-radius: 50px;
                                    padding: 5px 10px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
    
                }
                

            }
        }
    }

    // <!-- Success modal end -->

    .success-modal{
        display: none;
        text-align: center;
        margin: 0 80px;
        margin-bottom: 20px;
        background: var(--third-color);
        position: absolute;
        top: 90px;

        img{
            margin-top: 20px;
        }

        #got-it{
            padding: 5px 10px;
            border-radius: 50px;
            background: var(--second-color);
            margin: 0 200px;
            cursor: pointer;
            margin-bottom: 20px;
        }

    }

}