@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  --primary-color:hsla(0, 0%, 48%, 0.1);
  --second-color: hsl(176, 50%, 47%);
  --third-color:#fff;
}

body {
  padding: 0;
  margin: 0;
  background: var(--primary-color);
  font-family: 'Commissioner', sans-serif;
  Font-size: 16px;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

header {
  background-image: url("../images/image-hero-desktop.jpg");
  height: 350px;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

header nav img {
  margin-top: 20px;
  margin-left: 100px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-right: 30px;
}

header nav ul a {
  text-decoration: none;
  color: var(--third-color);
}

main {
  margin: 0 350px;
  margin-top: -50px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  position: relative;
}

main img {
  height: 35px;
  width: 35px;
}

main .first-section {
  background-color: var(--third-color);
}

main .first-section .logo-mastercraft {
  margin-top: -30px;
}

main .first-section .back-bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

main .first-section .back-bookmark .left p {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--second-color);
  color: var(--third-color);
  cursor: pointer;
}

main .first-section .back-bookmark .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .first-section .back-bookmark .right p {
  border: 1px var(--third-color);
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--primary-color);
  cursor: pointer;
}

main .second-section {
  background-color: var(--third-color);
  display: -ms-grid;
  display: grid;
}

main .second-section .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

main .second-section .upper-content .vl {
  border: 1px solid var(--primary-color);
  height: 50%;
  margin-top: 20px;
}

main .second-section .upper-content #last-item {
  margin-right: 100px;
}

main .second-section .lower-content {
  background-color: var(--primary-color);
  margin: 0 20px;
  margin-bottom: 20px;
  height: 5px;
  position: relative;
}

main .second-section .lower-content hr {
  height: 5px;
  background-color: var(--second-color);
  border-radius: 70px;
  margin-right: 130px;
  position: absolute;
  width: 70%;
  bottom: -10px;
}

main .third-section {
  background: var(--third-color);
}

main .third-section .third-section-cta {
  margin: 0 20px;
  text-align: left;
}

main .third-section .third-section-cta .container {
  border: 1px var(--primary-color) solid;
  margin-bottom: 10px;
}

main .third-section .third-section-cta .container .content {
  margin: 10px 20px;
}

main .third-section .third-section-cta .container .content .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .third-section .third-section-cta .container .content .upper-content .right-content {
  color: var(--second-color);
}

main .third-section .third-section-cta .container .content .lower-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .third-section .third-section-cta .container .content .lower-content .left-content span {
  font-weight: lighter;
  font-size: 12px;
}

main .third-section .third-section-cta .container .content .lower-content .right-content p {
  background: var(--second-color);
  border-radius: 50px;
  padding: 5px 10px;
  color: var(--third-color);
  cursor: pointer;
}

main .selection-modal {
  background: var(--third-color);
  display: -ms-grid;
  display: grid;
  text-align: left;
  position: absolute;
  top: -120px;
  display: none;
}

main .selection-modal img {
  -ms-grid-column-align: end;
      justify-self: end;
  height: 15px;
  width: 15px;
  margin: 10px;
  cursor: pointer;
}

main .selection-modal .selection-modal-cta {
  margin: 0 20px;
}

main .selection-modal .selection-modal-cta .Pledge-with-no-reward {
  border: 1px solid var(--primary-color);
  margin-bottom: 10px;
}

main .selection-modal .selection-modal-cta .Pledge-with-no-reward .pledge-with-no-reward-cta {
  margin: 10px 20px;
}

main .selection-modal .selection-modal-cta .Pledge-with-no-reward .pledge-with-no-reward-cta p {
  margin-left: 20px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward {
  border: 1px solid var(--primary-color);
  margin-bottom: 10px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content {
  margin: 0 20px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .upper-content span {
  color: var(--second-color);
  margin-left: 10px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .upper-content input {
  margin-top: 20px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .upper-content h3 span {
  color: black;
  font-weight: lighter;
  font-size: 12px;
  margin-left: 0px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .lower-selected-pledge hr {
  margin: 0 -20px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .lower-selected-pledge .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .lower-selected-pledge .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .lower-selected-pledge .container .right #dollar {
  border: 1px var(--primary-color) solid;
  border-radius: 50px;
  padding: 5px 10px;
  margin-right: 10px;
}

main .selection-modal .selection-modal-cta .Pledge-with-reward .content .lower-selected-pledge .container .right #continue {
  background: var(--second-color);
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

main .success-modal {
  display: none;
  text-align: center;
  margin: 0 80px;
  margin-bottom: 20px;
  background: var(--third-color);
  position: absolute;
  top: 90px;
}

main .success-modal img {
  margin-top: 20px;
}

main .success-modal #got-it {
  padding: 5px 10px;
  border-radius: 50px;
  background: var(--second-color);
  margin: 0 200px;
  cursor: pointer;
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social-media .iconify {
  color: black;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  margin-top: 10px;
}

footer .container .social-media .iconify:hover {
  color: var(--second-color);
}
/*# sourceMappingURL=main.css.map */