body{
    padding: 0;
    margin: 0;
    // background: #0C1D26;
    background: rgba(219, 217, 217, 0.884);
    font-family: 'Poppins';
    width: 100%;
    color: var(--primary-color);
    display: grid;

}
header{
    background-image: url('../images/image-hero-desktop.jpg');
    height: 300px;

    nav{
        display: grid;
        grid-template-columns: 3fr 1fr;

        img{
            margin-top: 20px;
            margin-left: 100px;
        }

        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin-right: 45px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
main{
    margin: 0 400px;
    margin-top: -100px;
    background-color: white;
    // box-shadow: 5px 10px 8px 10px #888888;
}